<!-- Jquery, BootStrap -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/bootstrap-slider.min.js"></script>

<!-- P5 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>

<!-- Utility functions -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/commons/util.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/commons/trigger.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/commons/gui.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/commons/sort.js"></script>

<!-- Custom data types -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/disjoint.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/funda.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/list.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/stack.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/queue.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/structure/heap.js"></script>

<!-- Maze structures -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/maze/cell.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/maze/wall.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/maze/maze.js"></script>

<!-- Variables + constants -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/value/dom.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/value/string.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/value/param.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/value/algorithm.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/value/variable.js"></script>

<!-- Solvers -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/solve/astar.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/solve/dijkstra.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/solve/dfs.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/solve/bfs.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/solve/solve.js"></script>

<!-- Generators -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/generate/backtrack.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/generate/subtract.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/generate/generate.js"></script>

<!-- p5.js code -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/p5/setup.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/p5/draw.js"></script>
