
<!--
  By default sidebar is hidden, that way, when we navigate to a page by the "Back()"
  event, the menu is not by default open.
 -->
<div id="sidebar" style="display:none;">

  <!-- Invisiable checkbox, when checked, menu shows. This is accomplished via CSS -->
  <input type="checkbox" id="navigation" class="invisible-checkbox"/>
  <label for="navigation" class='invisible-label'>
        <i class='fa fa-2x fa-bars'></i>
  </label>

  <nav id="menu" class='my-nav'>
    <ul id="url-list"></ul>
  </nav>
</div>
