<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}

    {% if page.is_demo %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.css" />
      <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"> -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.1/css/bootstrap-slider.min.css">
      <style>{% include demo-styles.css %}</style>
    {% endif %}
  </head>

  <body>
    <section class="page-header">
      {% include header.html %}
    </section>

    <section class="main-content">
      {% include back.html %}
      {{ content }}
      {% include footer.html %}
    </section>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% if page.is_demo %}
      {% include demo-scripts.html %}
    {% endif %}

    {% include nav.html %}
    {% include scrolltop.html %}
    <script type="text/javascript">{% include nav.js %}</script>
    <script type="text/javascript">{% include scrolltop.js %}</script>
    <script type="text/javascript">{% include analytics.js %}</script>
  </body>
</html>
